@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --black: #000;
    --gray: #b3b2b8;
}

body {
    background-color: var(--black);
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.0;
    letter-spacing: 1px;
}

p {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
}


/* --- MAIN --- */
main {
    position: relative;
}

.main-background {
    height: 100vh;
}

.main-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.main-container {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
}

.logo-content, .button-content {
    max-width: 450px;
    margin: 0 auto;
    padding: 0px 20px;
}

.logo-content img {
    width: 100%;
    height: auto;
}

.button-content {
    margin-top: 32px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-content .btn-trailer {
    padding: 20px 27px;
    margin-left: calc(100% / 327px);
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    font-size: 0.85rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s ease;
}

.button-content .btn-trailer:hover {
    background-color: var(--white);
    color: var(--black);
}


/* --- SECTION DESCRIPTION --- */
.description {
    height: 60vh;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.description-text {
    text-align: center;
    max-width: 500px;
}


/* --- SECTION SURVIVE --- */
.survive {
    position: relative;
}

.survive-background {
    height: 100vh;
}

.survive-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.survive-container {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 15%;
}

.survive-title, .survive-text {
    max-width: 500px;
}


/* --- SECTION PLACES --- */
.places {
    position: relative;
}

.places-background {
    height: 100vh;
}

.places-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.places-container {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 15%;
}

.places-title, .places-text {
    max-width: 500px;
}


/* --- SECTION WORLD --- */
.world {
    position: relative;
}

.world-background {
    height: 100vh;
}

.world-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.world-container {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 15%;
}

.world-title, .world-text {
    max-width: 500px;
}


/* --- SECTION COLONY --- */
.colony {
    position: relative;
}

.colony-background {
    height: 100vh;
}

.colony-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.colony-container {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 15%;
}

.colony-title, .colony-text {
    max-width: 500px;
}


/* --- FOOTER --- */
footer {
    height: 100vh;
}

.footer-container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.info {
    height: 50%;
    display: flex;
    align-items: center;
}

.info-offers {
    max-width: 50%;
}

.info-offers h1, .info-offers p {
    padding-left: 20px;
}

.info-form {
    margin-left: 80px;
}

.info-form input {
    padding: 17px 32px;
}

.info-form input::placeholder {
    color: var(--gray);
}

.info-form button {
    padding: 17px 28px;
    margin-left: 5px;
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s ease;
}

.info-form button:hover {
    background-color: var(--white);
    color: var(--black);
}

.social-media {
    height: 30%;
    position: relative;
}

.social-media-icons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    width: 50%;
}

.social-media svg {
    margin-left: 8px;
    transition: all 0.4s ease;
}

.social-media svg:hover {
    opacity: 0.7;
}

.social-media a {
    text-decoration: none;
    display: inline;
    cursor: pointer;
}

.external {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.external-wishlist, 
.external-media-kit {
    margin-top: 32px;
    margin-right: 20px;
}

.external-media-kit {
    margin-left: 30px;
}

.external span {
    background-color: var(--white);
    width: 100%;
    height: 1px;
    display: block;
}

.external-wishlist a,
.external-media-kit a {
    font-size: 0.8rem;
    color: var(--white);
    cursor: pointer;
}

.creators {
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.publisher,
.developer {
    margin: 0px 90px;
    padding-bottom: 20px;
}

small {
    font-size: 0.8rem;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.creators a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
}

.creators span {
    background-color: var(--white);
    width: 100%;
    height: 1px;
    display: block;
}


/* --- MEDIA QUERY --- */
@media (max-width: 1200px){
    .survive-container,
    .world-container,
    .colony-container {
        left: 3%;
        width: 45%;
    }

    .places-container {
        right: 3%;
        width: 45%;
    }

    .survive-title, .survive-text,
    .places-title, .places-text,
    .world-title, .world-text,
    .colony-title, .colony-text {
        max-width: 600px;
    }

    .footer-container {
        max-width: 1140px;
    }

    .info-offers h1 {
        line-height: 1.1;
    }

    .external-wishlist, 
    .external-media-kit {
        margin-right: 0px;
    }

    .external-media-kit {
        margin-right: 40px;
    }
}

@media (max-width: 992px){
    h1 {
        font-size: 2.7rem;
    }
    
    .logo-content, .button-content {
        max-width: 370px;
    }

    .survive-title, .survive-text,
    .places-title, .places-text,
    .world-title, .world-text,
    .colony-title, .colony-text {
        max-width: 400px;
    }

    .footer-container {
        max-width: 1140px;
    }

    .external-wishlist, 
    .external-media-kit {
        margin-right: 0px;
    }

    .external-media-kit {
        margin-right: 40px;
    }

    .footer-container {
        max-width: 960px;
    }

    .creators {
        margin-top: 50px;
    }
    
    .publisher,
    .developer {
        margin: 0px 50px;
    }
}

@media (max-width: 880px){
    .info-form button {
        margin-left: 0px;
    }
}

@media (max-width: 863px){
    .info-form button {
        margin-top: 20px;
    }
}


@media (max-width: 768px){
    h1{
        font-size: 2.5rem;
    }

    p{
        font-size: 0.9375rem;
    }
    
    .main-container {
        width: 100%;
    }
    
    .logo-content, .button-content {
        max-width: 480px;
    }

    .survive-container,
    .world-container,
    .colony-container {
        width: 100%;
        left: 5%;
    }

    .places-container{
        width: 100%;
        right: 0%;
    }

    .survive-title, .survive-text,
    .places-title, .places-text,
    .world-title, .world-text,
    .colony-title, .colony-text {
        max-width: 720px;
    }  

    .places-title, .places-text{
        margin: 0 auto;
        padding: 0px 20px;
    }
    
    .footer-container {
        max-width: 720px;
        padding-top: 20px;
    }
    
    .info {
        flex-direction: column;
        align-items: flex-start;
        height: 40%;
    }
    
    .info-offers {
        max-width: 100%;
    }
        
    .info-form {
        margin: 30px 0px 0px 20px;
    }

    .external {
        height: 80%;
    }
    
    .external-wishlist, 
    .external-media-kit {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 50%;
        text-align: center;
        width: 50%;
    }
    
    .external-wishlist {
        margin-left: 110px;
    }

    .external-media-kit {
        margin-right: 110px;
    }
    
    .external span {
        height: 0px;
    }
}

@media (max-width: 768px){
    .survive-container,
    .places-container,
    .world-container,
    .colony-container {
        left: 0;
    }

    .description-text,
    .survive-title, .survive-text,
    .places-title, .places-text,
    .world-title, .world-text,
    .colony-title, .colony-text,
    .info h1 {
        padding: 0px 15px;
    }    
}
    
